.offset {
    padding-top: 57px;
    padding-right: 0;
    padding-left: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3b6d56;
    border-bottom: 1px solid #478f6f;
    /* background-color: #96a2a8; */
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

button.trash-can.btn {
    background-color: transparent;
    border: none;
}

.login-page,
.landing-page {
    background-image: url(/static/images/whitney.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    line-height: 1.3;
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.login-overlay {
    background: rgba(16, 10, 4, 0.6);
    min-height: 50%;
    max-width: 60%;
    /* line-height: 1.3;
    position: fixed;
    /*height: 100%;*/
    /* top: auto;
    bottom: auto; */
    /*bottom: 40px;
    left: 40px;
    right: 40px; */
    color: #ffffff;
    border-radius: 3px;
}

a.new-account-link {
    color: #ffffff;
}

.sidebar {
    height: 100vh;
    background-color: #214233;
    /* background-color: rgba(255, 255, 255, 0.55); */
    /* background-color: red; */
    /* background-color: rgba(158, 133, 100, 0.1); */
    /* background-color: rgba(73, 85, 92, 0.75); */
    /* border-right: 1px solid rgba(158, 133, 100, 0.2); */
}

.item-name {
    font-weight: 500;
}

.gear-image-sm {
    border-radius: 3px;
}

.category-name {
    font-weight: bold;
    text-transform: capitalize;
}

.gear-sidebar,
.lists-sidebar {
    color: rgba(255, 255, 255, 0.7);
}
.list-item-form {
    /* background-color: #6edbaa; */
    /* width: 72vw; */
    margin-right: 1rem;
}

.pads {
    padding-right: 0;
}

.image-preview {
    border-radius: 2px;
}

.list-row a,
a.nav-link,
.gear-item a,
.landing-page-links a {
    text-decoration: none;
}

.list-row a.selected,
a.nav-link.selected,
.gear-item a.selected {
    text-decoration: underline;
}

a.nav-links {
    color: rgba(255, 255, 255, 0.6) !important;
}

.list-row a,
.gear-item a,
.nav-link a,
.landing-page-links a {
    color: rgba(255, 255, 255, 0.6);
}

.card-body {
    background-color: rgba(150, 162, 168, 0.1);
}

.gear-card {
    margin-left: auto;
    margin-right: auto;
}

.add-list-form {
    margin-right: 0.75rem;
    border-top: 1px solid #478f6f;
    color: rgba(255, 255, 255, 0.55);
}

.list-item-form {
    margin-left: 10px;
    background-color: rgba(150, 162, 168, 0.1);
}

.toast-container {
    z-index: 99999;
}

.toast-text {
    color: #214233;
}

/*Bootstrap button styles override */
.btn-primary {
    background-color: #63c498;
    border-color: #63c498;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #5eb990;
    border-color: #5eb990;
}

.btn-outline-primary {
    border-color: #63c498;
    color: #63c498;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: #63c498;
    border-color: #63c498;
}

.btn-link {
    color: #5eb990;
}

.btn-link:hover {
    color: #428466;
}

.btn-dark {
    background-color: #214233;
    border-color: #214233;
}

.btn-dark:hover {
    background-color: #2f5e49;
    border-color: #2f5e49;
}

/*Bootstrap button styles override */
