nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

button.trash-can.btn {
    background-color: transparent;
    border: none;
}

/* .list-container {
    display: flex;
} */

/* .sidebar {
    background-color: sandybrown;
    display: inline-block;
}

.main-panel {
    display: inline-block;
} */