.offset {
    padding-top: 9.1vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

button.trash-can.btn {
    background-color: transparent;
    border: none;
}

/* .login-page {
    background-color: teal;
} */

.login-page,
.landing-page {
    background-image: url(/static/images/whitney.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    line-height: 1.3;
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.login-overlay {
    background: rgba(16, 10, 4, 0.6);
    min-height: 50%;
    max-width: 60%;
    /* line-height: 1.3;
    position: fixed;
    /*height: 100%;*/
    /* top: auto;
    bottom: auto; */
    /*bottom: 40px;
    left: 40px;
    right: 40px; */
    color: #ffffff;
    border-radius: 3px;
}

a.new-account-link {
    color: #ffffff;
}

.sidebar {
    border-right: solid 1px teal;
    height: 100vh;
}

.item-name {
    font-weight: 500;
}

.gear-image-sm {
    border-radius: 3px;
}

.category-name {
    font-weight: bold;
    text-transform: capitalize;
}

.list-item-form {
    background-color: #6edbaa;
    width: 72vw;
}

.pads {
    padding-right: 0;
}

.image-preview {
    border-radius: 2px;
}

.list-row a,
.nav-link a,
.gear-item a,
.landing-page-links a {
    text-decoration: none;
}

.list-row a.selected,
.nav-link a.selected,
.gear-item a.selected {
    text-decoration: underline;
}
/* .list-container {
    display: flex;
} */

/* .sidebar {
    background-color: sandybrown;
    display: inline-block;
}

.main-panel {
    display: inline-block;
} */
